[submodule "cuda/fork-cudalibrarysamples"]
	path = cuda/fork-cudalibrarysamples
	url = https://gitlab.com/forked-projects1405239/fork-cudalibrarysamples.git
[submodule "cuda/tensor-core/fork-nvidia-code-samples"]
	path = cuda/tensor-core/fork-nvidia-code-samples
	url = https://gitlab.com/forked-projects1405239/fork-nvidia-code-samples.git
[submodule "ml/tf/tf-from-scratch/1/former"]
	path = ml/tf/tf-from-scratch/1/former
	url = https://github.com/pbloem/former
[submodule "ml/tf/tf-from-scratch/3/PyTorchStepByStep"]
	path = ml/tf/tf-from-scratch/3/PyTorchStepByStep
	url = https://github.com/dvgodoy/PyTorchStepByStep.git
[submodule "ml/tf/tf-from-scratch/3/code-exercises/PyTorchStepByStep"]
	path = ml/tf/tf-from-scratch/3/code-exercises/PyTorchStepByStep
	url = https://github.com/dvgodoy/PyTorchStepByStep
