[Unit]
Description=Seafile system specific startup environment.

[Service]
ExecStart=/usr/local/bin/seafile-setenv

[Install]
WantedBy=default.target
